.forecast-row {
  line-height: 46px;
  text-align: center; }

.day-row {
  border-bottom: 1px solid #ddd; }

.header-row {
  border-bottom: 1px solid #ddd;
  margin-left: 0;
  margin-right: 0; }

.forecast-row {
  margin-left: 0;
  margin-right: 0; }

.panel-heading {
  cursor: pointer; }
